{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Resetowanie hasła</title>
    <link rel="stylesheet" href="{% static 'core_css/password_reset/password_reset.css' %}?v=2">
</head>
<body>

<div class="reset-container">
    <h2>Resetowanie hasła</h2>
    <p>Podaj adres e-mail, na który wyślemy link do ustawienia nowego hasła.</p>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Adres e-mail</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="form-error";>{{ form.email.errors.0 }}</div>
        {% endif %}
    </div>

    <button type="submit">Wyślij link resetujący</button>
</form>

</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const translations = {
        "Enter a valid email address.": "Wprowadź poprawny adres e-mail.",
        "This field is required.": "To pole jest wymagane."
    };

    document.querySelectorAll(".form-error").forEach(elem => {
        const text = elem.textContent.trim();
        if (translations[text]) {
            elem.textContent = translations[text];
        }
    });
});
</script>
</body>
</html>
