<div class="device-section-wrapper">
    <ul class="device-list">
        {% for device in devices %}
            <li class="device-card">
                <strong class="device-name">{{ device.name }}</strong>
                <p><span>Aktualna wykrywana waga:</span> <b>{{ device.detected_weight }} g</b></p>
                <p><span>Stan baterii:</span> <b>{{ device.display_battery }}</b></p>
                <p><span>Status:</span> <span class="{{ device.status_class }}"><b>{{ device.status }}</b></span></p>
                <p><span>ID:</span> <b>{{ device.device_id }}</b></p>
                <p><span>Kod bezp.:</span> <b>{{ device.security_code }}</b></p>
                <div class="device-buttons">
                    <button type="button" onclick="showRenameModal('{{ device.device_id }}', '{{ device.name }}')">Zmień nazwę</button>
                    <button type="button" class="delete-device-btn" onclick="showModal('{{ device.device_id }}', '{{ device.name }}')">Usuń</button>
                </div>
            </li>
        {% empty %}
            <li>Brak urządzeń.</li>
        {% endfor %}
    </ul>
</div>
