<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core_css/my_devices.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Moje urządzenia</title>
</head>
<body>
    <h2>Twoje urządzenia</h2>
    <div id="devices-list">
        {% include 'devices_list.html' %}
    </div>

    <a href="{% url 'add_device' %}">Dodaj urządzenie</a>
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Wyloguj się</button>
    </form>

    <table id="notifications-table">
        {% include 'notifications_table.html' %}
    </table>



    <!-- MODAL usuwania urzadzenia-->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p id="modalMessage"></p>
            <button id="confirmBtn">Tak</button>
            <button onclick="hideModal()">Anuluj</button>
        </div>
    </div>


    <!-- MODAL zmiany nazwy urządzenia-->
    <div id="renameModal" class="modal">
        <div class="modal-content">
            <p id="renameModalMessage"></p>
            <input type="text" id="newDeviceName" maxlength="100">
            <button id="renameConfirmBtn">Zmień nazwę</button>
            <button onclick="hideRenameModal()">Anuluj</button>
        </div>
    </div>

    <script src="{% static 'core_js/my_devices.js' %}"></script>
    <a href="{% url 'user_settings' %}">Ustawienia</a>
</body>
</html>
 