<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core_css/my_devices.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Moje urządzenia</title>
</head>
<body>
    <h2>Twoje urządzenia</h2>
    <ul>
    {% for device in devices %}
        <li>
            <b>{{ device.name }}</b><br>
            <span>Aktualna wykrywana waga:</span> <b>{{ device.detected_weight }} g</b><br>
            <span>Stan baterii:</span> <b>{{ device.battery_level }}%</b><br>
            <span>Status:</span>
            <span class="{{ device.status_class }}"><b>{{ device.status }}</b></span><br>
            <span>ID:</span> <b>{{ device.device_id }}</b><br>
            <span>Kod bezp.:</span> <b>{{ device.security_code }}</b><br>
            <button type="button" onclick="showRenameModal('{{ device.device_id }}', '{{ device.name }}')">Zmień nazwę</button>
            <button type="button" onclick="showModal('{{ device.device_id }}', '{{ device.name }}')">Usuń</button>
            <form id="delete-form-{{ device.device_id }}" method="post" action="{% url 'delete_device' device.device_id %}" style="display:none;">
                {% csrf_token %}
            </form>
        </li>
    {% empty %}
        <li>Brak urządzeń.</li>
    {% endfor %}
    </ul>
</ul>
    <a href="{% url 'add_device' %}">Dodaj urządzenie</a>
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Wyloguj się</button>
    </form>

    <h3>Ostatnie powiadomienia ze wszystkich urządzeń</h3>
    <table>
        <thead>
            <tr>
                <th>Czas</th>
                <th>Nazwa urządzenia</th>
                <th>Typ zdarzenia</th>
                <th>Zmiana wagi</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>{{ notification.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>{{ notification.device.name }}</td>
                <td>
                    {% if notification.msg_type == "MAIL_IN" %}
                        Wrzucenie przesyłki
                    {% elif notification.msg_type == "MAIL_OUT" %}
                        Wyciągnięcie przesyłki
                    {% else %}
                        {{ notification.msg_type }}
                    {% endif %}
                </td>
                <td>
                    {{ notification.previous_weight }}g → {{ notification.current_weight }}g
                    ({% if notification.weight_difference > 0 %}
                        +{{ notification.weight_difference }}g
                    {% else %}
                        {{ notification.weight_difference }}g
                    {% endif %}
                    )
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Brak powiadomień.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- MODAL usuwania urzadzenia-->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p id="modalMessage"></p>
            <button id="confirmBtn">Tak</button>
            <button onclick="hideModal()">Anuluj</button>
        </div>
    </div>


    <!-- MODAL zmiany nazwy urządzenia-->
    <div id="renameModal" class="modal">
        <div class="modal-content">
            <p id="renameModalMessage"></p>
            <input type="text" id="newDeviceName" maxlength="100">
            <button id="renameConfirmBtn">Zmień nazwę</button>
            <button onclick="hideRenameModal()">Anuluj</button>
        </div>
    </div>
    <form id="renameForm" method="post" action="{% url 'rename_device' %}" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="device_id" id="renameDeviceId">
        <input type="hidden" name="new_name" id="renameDeviceNewName">
    </form>

<script src="{% static 'core_js/my_devices.js' %}"></script>

</body>
</html>
 